
.container{
    height: 3000px;
}
#header-content{
    background: #ff6700;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}
img{
    width: 167px;
    height: 40px;
}
.header-content__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 1200px;
    height: 60px;  
}


.header-content__menu:hover{
    cursor: pointer;
}

input{
    width: 310px;
    height: 40px;
    border-radius: 6px;
}
.header-content__menu--icon{
    font-size: x-large;
    
}

.header-content__menu--shadow{
    padding: 5px 15px;
    background-color: #ffa366;
    
    border-radius: 3px;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    line-height: normal;
    height: 40px;
}

.header-content__menu--right_menu{
    display: flex;
    grid-gap: 20px;
    align-items: center;
    width: 352px;
    height: 36px;
}
.right_menu__phone{
    font-size: small;
    display: block;
    flex-direction: column;
    background: url(../Img/call.svg) left center no-repeat;
    width: 140px;
    padding: 0 0 0 40px;
}

.header_icon--solid {
    margin-right: 10px;
}

.header-content__menu--shadow__title{
    font-size: 13px;
    display: flex;
    flex-wrap: wrap;
}
.header-content__menu--shadow__danhmuc{
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90px;
}
.header-content__menu--shadow__tonkho{
    font-size: 13px;
}
.right_menu__store{
    font-size: small;
    display: flex;
    flex-direction: column;
    background: url(../Img/store-w.svg) left center no-repeat;
    padding: 0 0 0 30px;

}
.right_menu__cart{
    font-size: small;
    display: flex;
    flex-direction: column;
    background: url(../Img/cart-w.svg) left center no-repeat;
    width: 30px;
    height: 30px;
    line-height: 60px;
    position: relative;
}
.right_menu__cart span{
    position: absolute;
    right: -4px;
    top: -9px;
    width: 15px;
    height: 15px;
    font-weight: 600;
    font-size: 12px;
    color: #ff6700;
    background: #fff;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: normal;
}

/* sibar */
.sibar{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.sibar-content{
    display: flex;
    width: 1200px;
    justify-content: space-around;
    margin-top: 25px;
}
.sibar__menu{
    width: 200px;
    border-radius: 4px;
    background-color: red;
}
.sibar__slide img{
    width: 710px;
    height: 360px;
    border-radius: 4px;
}
.sibar__list{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    height: 360px;
    gap: 19px;

}
.sibar__list img{
    width: 260px;
    height: 110px;
    border-radius: 4px;
}

/* button banner */

.sibar-content__silde--text{
    display: flex;
}
.sibar-content__silde--text .smr{
    margin: 0;
    width: 142px;
    height: 60px;
}
.sibar-content__silde--text .smr:hover{
    cursor: pointer;
}
.sibar-content__silde--text .o-item{
    border-top: #ff6700 4px solid;
}

/* Sile show */


/* Banner */
.banner-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.banner-content__img{
    width: 1200px;
    display: flex;
}
.banner-content img{
    width: 600px;
    height: 124.06px;
    
}
/* .sibar-content__silde--text li{
    list-style: none;
} */
/* Product title Phan danh mux*/

#wrapper{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    color: #52504f;
    
}
.nav-tabs{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    line-height: normal;
    width: 1200px;
    align-items: center;
}
/* Icon Iphone */
.l_tab>a>h2{
    background-color: rgb(219, 211, 211);
    font-size: medium;
    font-weight: 400;
    display: flex;
    justify-content: space-around;

}
.nav-tabs .r_tab .list_cat a{
    color: #52504f;
}
.r_tab{
    width: 920px;
    height: 36px;
    display: flex;
    justify-content: flex-end;
    margin-left: 10px;
}
.list_cat{
    display: flex;
    width: 636.7px;
    justify-content: space-evenly;
    align-items: center;
}
.list_cat .item_tabs a{
    height: 36px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    border: 1px solid #52504f;
}
.list_cat .item_tabs a:hover{
    border: 1px solid rgb(52, 226, 90);
    transition: 0.3s ease-in-out;
    color: rgb(29, 202, 66);
}
.cout_prd{
    display: flex;
    align-items: center;
    border-radius: 30px;
    border: 1px solid rgb(52, 226, 90);
    
}
.cout_prd a{
    color: rgb(29, 202, 66);
}

/* Products Items */
#product_items_list{
    background-color: #ffffff;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    flex-direction: column;
}
.wrapper_item{
    flex-direction: column;
    display: flex;
    align-items: center;
    background-color: #ff0080;
}
.img_item{
    width: 190px;
    height: 208px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper_item .information_item{
    width: 210px;
    height: auto;
    background-color: rgb(219, 0, 0);
    border-radius: 10px;
}
.information_item li{
    list-style: none;
}
.information_item a{
    text-decoration: line-through;
}
.clock-sal{
    width: 15px;
    height: 17px;
    margin: 2px;
}
.time_sale{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.text_sale{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 15px;
    background-color: #60bb22;
    color: #fff;
    font-size: 12px;
    border-radius: 20px;
}
.star_sale{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff6700;
    width: 74px;
    height: 16px;
    margin: 10px;
}

/* Hover transion */
.wrapper_items:hover{
    cursor: pointer;
    color: #ff6700;
}
.wrapper_item .img_item:hover{
    transform: translateY(-10px);
    transition: 0.3s ease;
}

.wrapper_items{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* Full produc */
#all_product_list{
    background-color: #ff0080;
    position: relative;
}
#product_items_list{
}

.arrow{
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
}