.slider-product-one{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    max-width: 1200px;

}
.slider-product-one-content{
    width: 1200px;
    height: auto;
    display: flex;


}
.slider-product-one-content{
    background-color: #FED100;
    padding: 12px;

}
.slider-product-one-content-items{
    display: flex;
    justify-content: space-around;
}
.slider-product-one-content-item{
    background-color: #fff;
    padding: 40px 10px 10px;
    border-radius: 5px;
}
.slider-product-one-content-item > img{
    width: 190;
    height: 208px;
    transition: all 0.3s ease;
}
.slider-product-one-content-item-text{
    padding-top: 20px;
}
.slider-product-one-content-item-text li{
    margin-bottom: 6px;
    list-style: none;
}
.slider-product-one-content-item-text li:first-child
{
    height: 30px;
}
.slider-product-one-content-item-text li:nth-child(4) a{
    text-decoration: line-through;
    color: black;
 }
 .slider-product-one-content-item-text li:last-child i{
    color: #FB6E2E;
 }
 /* hover  */
.slider-product-one-content-item:hover > img{
    transform: translateY(-10px);
    cursor: pointer;
    
 }
 .slider-product-one-content-item:hover{
    cursor: pointer;
 }
 /* hove chu */
 /* .slider-product-one-content-item-text li:nth-child(2):hover{
    color: #FB6E2E;
 } */
 .slider-product-one-content-item .slider-product-one-content-item-text li:nth-child(2):hover{
    color: #FB6E2E;
 }

 /* slide product-btn */
 .slider-product-one-content-container{
    position: relative;
    overflow: hidden;
 }
 .slider-product-one-content-btn{
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    width: 100%;
 }
 .slider-product-one-content-btn i{
    color: #333;
    font-size: 32px;
    height: 50px;
    width: 25px;
    background-color: rgb(253, 242, 242);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    border-radius: 100%;
    transition: all 0.3s ease;
    cursor: pointer;
 }

 .slider-product-one-content-items-content{
    position: relative;
    height: auto;
    transition: all 0.3s ease;
 }
 .slider-product-one-content-items{
    position: absolute;
 }
 .slider-product-one-content-items:nth-child(2){
    transform: translateX(100%);
 } .slider-product-one-content-items:nth-child(3){
    transform: translateX(200%);
 }